aside.aside
    .aside__container 
        .aside__container-inner
            .aside__logo
                img(src="@img/Logo.svg" alt="logo")
                div.aside__logo-ver v.01
            nav.aside__menu.menu 
                ul.menu__list 
                    li.menu__item 
                        button(type="button").menu__button
                            div.icon.icon-key-square
                            span Dashboard
                    li.menu__item
                        button(type="button").menu__button.menu__button_has-arrow
                            div.icon.icon-d-square-1
                            span Product
                    li.menu__item
                        button(type="button").menu__button.menu__button_active.menu__button_has-arrow
                            div.icon.icon-user-square-1
                            span Customers
                    li.menu__item 
                        button(type="button").menu__button.menu__button_has-arrow
                            div.icon.icon-wallet-money-2
                            span Income
                    li.menu__item 
                        button(type="button").menu__button.menu__button_has-arrow
                            div.icon.icon-discount-shape-1
                            span Promote
                    li.menu__item 
                        button(type="button").menu__button.menu__button_has-arrow
                            div.icon.icon-message-question-1
                            span Help
        .aside__account.account
            .account__img 
                img(src="@img/Ellipse 8.png" alt="person")
            .account__info 
                .account__name Evano
                .account__position Project Manager
