doctype html
html(lang="en")
    head
        include html/_head.pug
        title Document
    body 
        .wrapper
            .wrapper__container
                include html/_side-menu.pug
                main.page
                
        include html/_js.pug