doctype html
html(lang="en")
    head
        include html/_head.pug
        title Document
    body 
        .wrapper
            .wrapper__container
                include html/_side-menu.pug
                main.page
                    .page__container 
                        .page__title 
                            | Hello 
                            span Evano
                            | &nbsp;👋🏼,
                        .page__content.content
                            .content__header 
                                .content__title-wrapper
                                    .content__title All Customers
                                    .content__status Active Members
                                .content__search-wrapper
                                    img(src="img/search.svg" alt="search")
                                    input(type="search" name="search" placeholder="search")
                            .content__table-wrapper
                                .content__table.table
                                    .table__row.table__row_header 
                                        .table__cell Customer Name
                                        .table__cell Company
                                        .table__cell Phone Number
                                        .table__cell Email
                                        .table__cell Country
                                        .table__cell Status
                                    .table__row-decor.table__row-decor_first
                                        div
                                    .table__row 
                                        .table__cell Jane Cooper
                                        .table__cell Microsoft
                                        .table__cell (225) 555-0118
                                        .table__cell jane@microsoft.com
                                        .table__cell United States
                                        .table__cell
                                            .table__cell-status.table__cell-status_active  Active
                                    .table__row-decor
                                        div
                                    .table__row
                                        .table__cell Floyd Miles
                                        .table__cell Yahoo
                                        .table__cell (205) 555-0100
                                        .table__cell floyd@yahoo.com
                                        .table__cell Kiribati
                                        .table__cell
                                            .table__cell-status  Inactive
                                    .table__row-decor
                                        div
                                    .table__row
                                        .table__cell Ronald Richards
                                        .table__cell Adobe
                                        .table__cell (302) 555-0107
                                        .table__cell ronald@adobe.com
                                        .table__cell Israel
                                        .table__cell
                                            .table__cell-status Inactive
                                    .table__row-decor
                                        div
                                    .table__row
                                        .table__cell Ronald Richards
                                        .table__cell Adobe
                                        .table__cell (302) 555-0107
                                        .table__cell ronald@adobe.com
                                        .table__cell Israel
                                        .table__cell
                                            .table__cell-status Inactive
                                    .table__row-decor
                                        div
                                    .table__row
                                        .table__cell Ronald Richards
                                        .table__cell Adobe
                                        .table__cell (302) 555-0107
                                        .table__cell ronald@adobe.com
                                        .table__cell Israel
                                        .table__cell
                                            .table__cell-status Inactive
                                    .table__row-decor
                                        div
                                    .table__row
                                        .table__cell Ronald Richards
                                        .table__cell Adobe
                                        .table__cell (302) 555-0107
                                        .table__cell ronald@adobe.com
                                        .table__cell Israel
                                        .table__cell
                                            .table__cell-status Inactive
                                    .table__row-decor
                                        div
                                    .table__row
                                        .table__cell Ronald Richards
                                        .table__cell Adobe
                                        .table__cell (302) 555-0107
                                        .table__cell ronald@adobe.com
                                        .table__cell Israel
                                        .table__cell
                                            .table__cell-status Inactive
                                    .table__row-decor
                                        div
                                    .table__row
                                        .table__cell Ronald Richards
                                        .table__cell Adobe
                                        .table__cell (302) 555-0107
                                        .table__cell ronald@adobe.com
                                        .table__cell Israel
                                        .table__cell
                                            .table__cell-status Inactive
                                    .table__row-decor
                                        div
                            .content__footer
                                .content__data-info Showing data 1 to 8 of  256K entries
                                ul.content__pages.pages
                                    li.pages__page
                                        button.pages__button <
                                    li.pages__page.pages__page_active
                                        button.pages__button 1
                                    li.pages__page
                                        button.pages__button 2
                                    li.pages__page
                                        button.pages__button 3
                                    li.pages__page
                                        button.pages__button 4
                                    li.pages__page
                                        .pages__skip ...
                                    li.pages__page
                                        button.pages__button 40
                                    li.pages__page
                                        button.pages__button >




        include html/_js.pug