
.aside
    min-height: 100dvh
    // height: auto
    flex: 0 0 toRem(306)
    background: #fff
    overflow: hidden auto
    // @media (max-width: 620px)
    //     flex: 0 0 toRem(180)
    @media (max-width: $mobile)
        flex: 0 0 toRem(60)
        padding: 15px 15px
        // position: absolute
        // height: 100dvh
        // transform: translate(-100%,0)
        // flex: 0 0 toRem(60)
        // transition: 0.2s transform
    // .menu-open &
    //     @media (max-width: $mobile)
    //         transform: translate(0,0)

    &__container
        padding: toRem(36) toRem(28) 0 toRem(28)
        display: flex
        flex-direction: column
        gap: toRem(30)
        background: #fff
        justify-content: space-between
        min-height: 100%
        box-shadow: toRem(00) toRem(00) toRem(60) 0 rgba(226, 236, 249, 0.5)
        @media (max-width: $mobile)
            padding: toRem(50) toRem(15) 0 toRem(15)
            width: 306px
            position: absolute
            top: 0
            bottom: 0
            left: 0
            height: 100dvh
            transform: translate(calc(-100% + 60px),0)
            transition: 0.2s transform
            gap: toRem(10)
        @media (max-width: 500px)
            width: 250px
            // padding-top: toRem(13)

        .menu-open &
            @media (max-width: $mobile)
                transform: translate(0,0)

    &__container-inner
        overflow: hidden auto
        display: flex
        flex-direction: column
        gap: toRem(51)
        @media (max-width: $mobile)
            gap: toRem(30)
        @media (max-width: 500px)
            gap: toRem(15)
    &__logo
        display: flex
        gap: toRem(4)
        @media (max-width: 500px)
            justify-content: center
            img
                width: toRem(100)
    &__logo-ver
        font-weight: 500
        font-size: toRem(10)
        letter-spacing: -0.01em
        color: #838383
        height: toRem(31)
        display: flex
        align-items: end
        @media (max-width: 500px)
            height: toRem(17)
    &__menu

.menu

    &__list
        display: flex
        flex-direction: column
        gap: toRem(18)
    &__item
        .icon
            font-size: toRem(22)
    &__button
        display: flex
        align-items: center
        gap: toRem(14)
        width: 100%
        padding: toRem(12)
        border-radius: toRem(8)
        font-weight: 500
        color: #9197b3
        transition: 0.2s
        letter-spacing: -0.01em
        &:hover
            background-color: #957fe3
            color: #fff
        &_active
            background-color: #5932EA
            color: #fff
            &:hover
                background-color: #5932EA

        &_has-arrow
            position: relative
            &:before
                content: "\e901"
                font-family: 'icomoon' !important
                line-height: 1
                height: auto
                font-size: toRem(10)
                position: absolute
                right: toRem(11)
                top: 50%
                transform: translate(0,-50%)
                // transition: 0.2s

.account
    display: flex
    gap: toRem(12)
    padding-bottom: 60px
    &__img

    &__info
        display: flex
        flex-direction: column
        justify-content: space-between
        padding: toRem(2) 0
    &__name
        font-weight: 500
        letter-spacing: 0.01em
    &__position
        font-weight: 400
        font-size: toRem(12)
        letter-spacing: 0.01em
        color: #757575
    @media (max-width: $mobile)
        padding-bottom: 10px

// бургер меню
.icon-menu
    display: none
    @media (max-width: $mobile)
        display: block
        position: relative
        width: toRem(30)
        height: toRem(18)
        z-index: 5
        @media (any-hover: none)
            cursor: default

        span,
        &::before,
        &::after
            content: ""
            transition: all 0.3s ease 0s
            right: 0
            position: absolute
            width: 100%
            height: toRem(2)
            background-color: #000

        &::before
            top: 0

        &::after
            bottom: 0

        span
            top: calc(50% - toRem(1))

        .menu-open &
            span
                width: 0

            &::before,
            &::after

            &::before
                top: calc(50% - toRem(1))
                transform: rotate(-45deg)

            &::after
                bottom: calc(50% - toRem(1))
                transform: rotate(45deg)
